header {
	background: linear-gradient( #FFBA5C, darkorange);
	padding: 2em 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 230px;
	left: 0px;
}

nav li {
	display: inline;
	margin:  0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;	
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: crimson;
}

nav a:active{
	color:blue;
	text-decoration: underline;
	font-size: 23px;
}

.texto{
	font-family:Arial, Helvetica, sans-serif;
	padding-top: 2em;
	padding-left: 3em;
	padding-right: 3em;
	font-size: 25px;
	background: linear-gradient(lightgrey, white);
}

.apresentacao{
	background:lightgrey;
	text-align: center;
	margin: 0 auto;	
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: purple;
}
.tipos li{
	background:white;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding: 1em 0.5em;
	margin: 0.5em 0.5em;
	box-sizing: border-box;
	border-width: 8px;
	border-color: #FFBA5C;
	border-style:groove;
	border-radius: 15px;
	box-shadow: 7px 8px 5px black;
}

.tipos{
	text-align: center;
	background: lightgrey;
}
.descricao{
	font-size: 20;
	font-weight: bold;
}

p{
	padding-top: 100px;
	font-size: 25px;
}


.final{
    text-align: center;
	font-size: 30px;
	margin: 20 0 0 0px;
	color: black;
	text-shadow: 1px 1px white;
}

footer{
	text-align: center;
	
	background: linear-gradient( #FFBA5C, darkorange);
	
}

.video{
	text-align: center;
	padding: 1em 0;
	background: linear-gradient( #FFBA5C, darkorange);
	box-shadow: 13px 13px 5px lightblue;
}